@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/* .oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-left: 20px;
  font-size: 40px;
  color: #3E3232;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;

}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

} */
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-left: 20px;
  font-size: 40px;
  color: #3E3232;
}


.teko-heading {
  position: absolute;
  display: flex;
  top: 0px;
  right: 145px;
  color: #3E3232;
  text-decoration: none;
  font-size: 19px;
  margin-right: 35px;

}

.teko-headings {
  position: absolute;
  display: flex;
  top: 0px;
  right: 75px;
  color: #3E3232;
  text-decoration: none;
  font-size: 19px;
  margin-right: px;
}

.teko-heading1 {
  position: absolute;
  display: flex;
  top: 0px;
  right: 30px;
  color: #3E3232;
  text-decoration: none;
  font-size: 25px;
  margin-right: px;
}

.teko-heading::before {
  content: attr(data-content);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  animation: revealText 5s steps(40);
}


@keyframes revealText {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oleo-script-regular {
    font-size: 25px;
  }

  .teko-heading {
    font-size: 24px;
  }
}