/* Dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

.DashBoard-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px; /* Adds a gap of 20px between header-Main and MainDashBoardDiv */
    /* background-color: green; */
    background: #F5F5F5;
}

.MainDashBoardDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    gap: 20px; /* Adds a gap of 20px between CountDiv and Dashbord-tab */
    padding: 20px;
}

.dashboard-back-btn {
    margin-left: 20px;
}

.count-div-main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    align-self: center;
    flex-direction: row;
    column-gap: 100px;
    margin-bottom: 50px;
}

.count-div-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* .PhotoCountDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
} */

.count-div-tabs span {
    font-size: 50px;
    background-color: transparent;
}
.count-div-tabs p {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 30px;
    background-color: transparent;
}

.count-icon {
    position: relative;
    width: 25%;
    height: 25%;
    background-color: transparent;
  }

/* .VideoCountDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
} */

.dashboard-upload-main {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.dashboard-upload-head {
    font-size: 40px;
}

.dashboard-delete-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard-delete-head {
    font-size: 40px;
}

.dashboard-delete-btns {
    display: flex;
    gap: 30px;
}

.dashboard-delete-btns .teko-headings {
    display: flex;
    gap: 30px;
    background-color: black;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    color: white;
    font-size: 20px;
}



