/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

/* navigation bar */
.header-Main {
  display: flex; /* Ensure children are displayed inline */
  flex-direction: row; /* Ensure the direction is row */
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space out items evenly */
  padding: 0;
  margin: 0;
}

/* brandName div in navigation */
.heading-container {
  display:flex;
  position: relative;
  left:1%;
  padding: 0;
  margin: 0;
}

/* contact div in navigation */
.header-links {
  display:flex;
  position: relative;
  right: 1%;
  padding: 0;
  margin: 0;
}

/*css for the brandName text*/
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0%;
  font-size: 40px;
  color: #3F2305;
}

/*css for the Contact text*/
.teko-headings {
  color: #3F2305;
  text-decoration: none;
  font-size: 23px;
  margin:0%;
}

/*css of main div*/
.Main-div{
  display: flex; /* Ensure children are displayed inline */
  flex-direction: column; /* Ensure the direction is row */
  column-gap: 10px;
  padding: .1%;
  margin: 0;
}

/*css of homePage-textBox*/
.homePage-textBox{
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
}

.homePage-textBox p{
  width: 60%;
  padding-top: 10px;
  color: #3F2305;
  opacity: 0; /* Initial opacity */
  font-size: 18px;
  animation: fadeIn 2.5s ease-in-out forwards; /* Apply animation */
}


/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {

  .sofia-regular{
    font-size: 20px;
  }
  .teko-headings{
    font-size: 11.5px;
  }
  .homePage-textBox p{
    font-size: 9px;
    width: 80%;
  }
  .homePage-textBox p h4{
    font-size: 12px;
  }
}
