@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oleo+Script:wght@400;700&family=Pacifico&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');

html {
  padding: 0 !important;
  background-color: #F5F5F5;
}

.Maindiv {
  background-color: #F5F5F5;
}
.heading-container {
  display: flex;
  margin-top: 10px;
  height: 0px;
}


.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  margin-left: 20px;
  font-size: 40px;
  color: #3F2305;
}


.teko-heading {
  position: absolute;
  display: flex;
  top: 0px;
  right: 145px;
  color: #3F2305;
  text-decoration: none;
  font-size: 19px;
  margin-right: 35px;

}

.teko-headings {
  position: absolute;
  display: flex;
  top: 10px;
  right: 20px;
  color: #3F2305;
  text-decoration: none;
  font-size: 19px;
  margin-right: px;
}

.teko-heading1 {
  position: absolute;
  display: flex;
  top: 0px;
  right: 30px;
  color: #3F2305;
  text-decoration: none;
  font-size: 25px;
  margin-right: px;
}

.teko-heading::before {
  content: attr(data-content);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  animation: revealText 5s steps(40);
}


@keyframes revealText {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .oleo-script-regular {
    font-size: 25px;
  }

  /* .teko-heading {
    font-size: 24px;
  } */
}

.header-links {
  position: relative;
  display: flex;
}


.animate {
  animation-name: slideIn;
  animation-duration: 3s;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.header-text {
  text-align: center;
  font-size: 34px;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
}

.photo-container img {
  box-shadow: 10px;
  transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* .photo-container img:hover {
  border-color: #F5F5F5;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */
.photo-container {
  padding: 10px;
  margin-top:-30px; 
}

.video-container video {
  box-shadow: 10px;
  transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

/* .video-container video:hover {
  border-color: #F6F5F2;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */
.video-container {
  padding: 15px;
  margin-top: -30px; /* Adjust as needed */
}



@media screen and (max-width: 768px) {
  .header-text {
    font-size: 24px;
    margin-top: 50px;
  }
  .photo-container {
    margin-top: 140px; /* Remove margin-top on small screens */
  }

  .photo-container img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }

  .video-container {
    margin-top: 120px; /* Remove margin-top on small screens */
  }

  .video-container video {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  .teko-headings {
    color: #3F2305;
    font-size: 15px;
    right: 10px;
  }
  
}

.full-screen-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.full-screen-image {
  max-width: 90%;
  max-height: 90%;
}

.full-screen-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.full-screen-video {
  max-width: 90%;
  max-height: 90%;
}


.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 48px;
  cursor: pointer;
}
.close{
  display: none;
}

.close-btn {
  right: 15px;
  position: absolute;
  top: 4%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  font-size: 28px;
  cursor: pointer;
  border: none;
}

.nav-btn {
  width: 50px;
  height: 50px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.hoverText {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: #3F2305;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  line-height: 1.5;
}

.hoverText.show {
  opacity: 1;
}

@keyframes slide-up {
  0% {
    bottom: -50px;
    opacity: 0;
  }

  100% {
    bottom: 20px;
    opacity: 1;
  }
}

.loading-viewMore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.line {
  position: absolute;
  bottom: -8px;
  left: 6;
  width: 79%;
  height: 6px;
  background-color: #f3f3f3;
  transition: background-color 0.3s ease;
}

button:hover .line {
  background-color: #cac7c7;
}


/* @media screen and (max-width: 768px) {
  
  .hoverText {
    font-size: 6px;
    top: 100px;
    transform: translate(-50%, -50%);
    right: px;
    align-items: center;
    align-content: center;
    width: 240px;
  }
  
  .sofia-regular {
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 1px;
    transform: none; 
  }
  
  h4 {
    font-size: 8px;
    transform: translate(7%, -10%);
    right: 135px;
   
  }
  
  .header-links {
    display: flex;
    position: absolute;
    top: 10px;
    left: 480px;
  }

  .teko-headings {
    color: #3F2305;
    font-size: 15px;
  }
}


 */
 /* Original CSS code goes here */

@media screen and (max-width: 768px) {
  .sofia-regular {
    font-size: 20px;
    position: absolute;
    top: 10px;
    margin-left: 10px;
    transform: none; 
  }

  .header-links {
    display: flex;
    position: absolute;
    top: 10px;
    right:0px;
  }

  .teko-headings {
    color: #3F2305;
    font-size: 11px;
  }
  h4 {
    font-size: 10px;
    transform: translate(7%, -10%);
    right: 135px;
   
  }

 
  .hoverText {
    font-size: 8px;
    top: 110px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    width: 290px;
    left: 45%;
    right: 50%;
  }

  .heading-container {
    display: flex;
    margin-top: 0px;
    height: 0px;
  }

  /* .header-links {
    position: static;
    margin-top: 20px;
    justify-content: center;
  }

  .header-links a {
    margin-right: 20px;
  } */

  /* .photo-container,
  .video-container {
    margin-top: 20px;
  } */
}

.image-video {
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
}


.image-video:hover {
  transform: scale(1.007); /* Zoom in on hover */
  transition: transform 0.3s ease; /* Add a smooth transition */
}